@import './scss/reset.scss';
@import './scss/variables.scss';
@import './scss/global.scss';
.App {
  width: 100vw;
}

/*TODO later this will be removed*/
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: hsl(195, 37, 52, 100%);
}
h1 {
  color: white;
  font-size: 2em;
  font-family: 'Montserrat Bold';
}
/*end TODO*/
