@import './scss/reset.scss';
@import './scss/variables.scss';
@import './scss/global.scss';

/*TODO later this will be removed*/
body {
  margin: 0;
  background-color: hsl(195, 37, 52, 100%);
}
h1 {
  color: white;
  text-align: center;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 52px;
  font-family: 'Montserrat Bold';
}
/*end TODO*/
