.add-button {
    font-size: $add-button-plus-size;
    width: $add-button-size;
    height: $add-button-size;
    border-radius: $add-button-radius;
    background-color: $on-primary;
    border: none;
    margin-bottom: $add-button-spacing;
    color: $text-color;
    border: $border-glass;
    img{
        height: 100%;
        width: 100%;
    }
}


