
.backlink-container{
    button {
        background: none;
        border: none;
        outline: none;
    }
    .custom-link {
        font-family: $link-font-family;
        font-size: $link-font-size;
    }
    .back-btn {
        img {
            width: $back-button-width;
            height: $back-button-height;
            filter: brightness(0) invert(1);
        }
    }
}

