.content-card{
    //background-image: linear-gradient($dark 60%, white);
    background-color: $light;
    position: relative;
    z-index: $card-z-index;
    padding: $recipe-card-paddind;
    border-radius: $cards-border-radius $cards-border-radius 0px 0px;
    margin-top: $card-margin-top;
    .recipe-headline h1,
    .ingredients-preparation-list h2 {
        text-align: left;
    }
}
