.content-card{
    //background-image: linear-gradient($dark 60%, white);
    background-color: $beige1;
    position: relative;
    z-index: $card-z-index;
    padding: $recipe-card-paddind;
    border-radius: $cards-border-radius $cards-border-radius 0px 0px;
    margin-top: $card-margin-top;
    -webkit-box-shadow: 0px -8px 31px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -8px 31px 0px rgba(0,0,0,0.2);
    box-shadow: 0px -8px 31px 0px rgba(0,0,0,0.2);
    .recipe-headline h1,
    .ingredients-preparation-list h2 {
        text-align: left;
    }
}
