.content-card{
    //background-image: linear-gradient($dark 60%, white);
    background-color: $light;
    position: relative;
    z-index: 10;
    padding: $recipe-card-paddind;
    border-radius: $cards-border-radius $cards-border-radius 0px 0px;
    margin-top: -25px;
    .recipe-headline h1,
    .ingredients-preparation-list h2 {
        text-align: left;
    }
}
