.create-recipe-container {
    .image-container {
        min-height: $img-container-max-height;
    }
}
.recipe-card-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    .recipe-headline p {
        text-align: center;
        margin-top: 15px;
    }
}

.ingredients-list-container,
.preparations-list-container {
    margin-bottom: $main-padding;
    width: 100%;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        >div {
            width: 100%;
        }
    }
}

.ingredients-list-container,
.preparations-list-container {
    h1 {
        text-align: center;
        padding-bottom: $main-padding;
        padding-top: $main-padding;
    }
}

