.create-recipe-container {
    .image-container {
        min-height: $create-recipe-img-container-min-height;
    }
}
.recipe-card-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $create-recipe-card-container-gap;
    .recipe-headline p {
        text-align: center;
        margin-top: $create-recipe-card-container-text-margin-top;
    }
}

.ingredients-list-container,
.preparations-list-container {
    margin-bottom: $preparation-list-container-margin-bot;
    width: 100%;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $label-spacing;
        >div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: $label-spacing;
        }
    }
}

.ingredients-list-container,
.preparations-list-containe {
    h1 {
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

