.delete-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: $delete-popup-width;
    padding: $delete-popup-padding;
    background-color: transparent;
    z-index: $delete-popup-z-index;
    .delete-popup-inner-container {
        padding: $delete-popup-inner-padding;
        height: auto;
        border-radius: $controls-border-radius;
        backdrop-filter: $high-blur;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: $button-shadow;
        > p {
            text-align: left;
            padding-top: $delete-confirmation-text-padding-top;
            padding-bottom: $delete-confirmation-text-padding-bottom;
            font-size: $text-font-size;
        }
        h1{
            margin-bottom: 0;
            text-align: left;
        }
    }
    .confirmation-buttons {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        button{
            width: 50%;
            border-radius: $cards-border-radius;
            box-shadow: none;
            margin-bottom: 0;
        }
        :last-child{
            border-radius: $cancel-btn-radius;
        }
        :first-child{
            border-radius: $confirm-btn-radius;
            background-color: transparent;
            border: solid 2px $light-grey;
            color: black;
        }
    }
}
hr{
    width: 100%;
}
