.delete-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: $delete-pop-up-width;
    padding: $delete-pop-up-padding;
    background-color: $dark-filter;
    .delete-popup-inner-container {
        height: 50vh;
        background-color: $light;
        border-radius: $controls-border-radius;
        border: $border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > p {
            text-align: center;
            padding-top: $delete-confirmation-text-padding-top;
            padding-bottom: $delete-confirmation-text-padding-bottom;
        }
    }
    .confirmation-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

