h1 {
    font-family: $h1-font-family;
    font-size: $h1-font-size;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: $text-color;
    text-align: center;
}
h2 {
    font-family: $h2-font-family;
    font-size: $h2-font-size;
    margin: 0px;
    text-align: center;
}
a {
    font-family: $link-font-family;
    font-size: $link-font-size;
    color: $primary;
    text-decoration: none;
}
p {
    margin: 0px;
    font-family: $text-font-family;
    font-family: $text-font-size;
    color: $text-color;
}

li{
    font-family: $text-font-family;
    padding-bottom: 10px;
}

ol {

    padding-left: 0;
    list-style-position: outside;
}

.content-container {
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    background-color: $dark;
    border-radius: $controls-border-radius $controls-border-radius 0px 0px;

    .login-inner-container,
    .signup-inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        margin-top: 50px;
        margin-bottom: 50px;

        Button {
            margin-top: 20px;
            margin-bottom: 18px;
        }
    }
    .form-login,
    .form-signup {
        padding: $content-container-padding;
    }

}
.signup-container,
.login-container {
   background-color: $light-transparent;
}
.popup-container {
    width: calc(100% - 10%);
    height: 100vh;
    padding: 5%;
    background-color: $dark-filter;
    .popup-inner-container {
        height: calc(100vh - 10%);
        padding: 20px;
        background-color: $light;
        border-radius: $controls-border-radius;
        border: $border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-family: $link-font-family;
            font-size: $link-font-size;
        }
    }
}

.btn-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.delete-button {
    border: 0;
    border-radius: 10px;
    background-color: $action;
    padding: 5px 10px;
    color: $on-primary;
    outline: none;
}

.formik-errors {
    font-family: $text-font-family;
    font-size: $text-font-size;
    color: $action;
    text-align: center;
}
