@import './variables.scss';

.home-container {
    width: calc(100% - (2 * $main-padding));
    min-height: calc(100% - $navbar-height);
    height: auto;
    padding: $page-start-padding $main-padding;
    @include app-backgroung-image;
    h1 {
        font-size: $h1-font-size;
        text-align: left;
        padding-bottom: calc($main-padding - 5px);
        color: $text-color;
    }
    .recipes-container {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        > div {
            cursor: pointer;
        }
        h1{
            padding-left: 0;
        }
        >p{
            text-align: left;
            padding-bottom: calc($main-padding * 2);
        }
        .recipes-list-container {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        .first-recipe {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background-color: $accent-color;
            border-radius: $cards-border-radius;
            padding-bottom: $main-padding;
            h3, span, p {
                padding-left: $main-padding;
            }
            img {
                max-height: $first-img-feed-height;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            h3 {
                font-family: $recipe-card-heading-font-family;
                font-size: $recipe-card-heading-font-size;
                padding-top: $main-padding;
            }
            span {
                font-family: $label-font-family;
                font-size: $label-font-size;
                padding-bottom: $main-padding;
            }
        }
    }
}

.recipe-feed{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    padding-bottom: calc($page-start-padding + 10px);

    .main-recipe{
        width: 100%;
        height: auto;
        gap: $img-spacer;
        padding: $main-padding $main-padding $page-start-padding;
        margin-bottom: $main-padding;
        backdrop-filter: blur(2px);
        border-radius: $cards-border-radius;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid rgb(225, 225, 225);
        border-left: 2px solid rgb(225, 225, 225);
        box-shadow: $button-shadow;
        h2{
            padding-bottom: calc($img-spacer * 3);
            margin-bottom: 0;
            font-size: $main-recipe-fontsize;
            text-align: left;

        }
        img{
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            border-radius: $cards-border-radius;
        }
        p{
            padding-top: calc($main-recipe-padding / 2);
            text-align: left;
        }
    }
    .other-recipes{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: $recipe-gallery-padding;
        .small-recipe{
            width: calc(50% - 13px - 9%);
            max-height: 100px;
            padding: 4% 4% 10%;
            backdrop-filter: blur(2px);
            border-radius: $cards-border-radius;
            border-top: 2px solid white;
            border-right: 2px solid white;
            border-bottom: 2px solid rgb(225, 225, 225);
            border-left: 2px solid rgb(225, 225, 225);
            box-shadow: $button-shadow;
            .img-container{
                width: 100%;
                height: 100%;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: $cards-border-radius;
                }
            }
            h2{
                padding-top: $img-spacer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                font-size: 16px;
                text-align: left;
            }
        }
    }
}

.see-more-container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    button{
        background: none;
        border: none;
        box-shadow: none;
        color: $primary;
        font-family: $text-font-family;
        text-transform: none;
        font-size: $text-font-size;
    }
}

.myrecipe-text{
    padding-bottom: $page-start-padding;
}

.recipe-list-container{
    display: flex;
    width: 100%;

    .column{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: $main-padding;
        .recipe{
            display: flex;
            flex-direction: column;
            height: auto;
            // background-color: $accent-color;
            border-radius: $cards-border-radius;
            justify-content: center;
            align-items: center;
            padding: 5% 0;
            backdrop-filter: blur(2px);
            border-radius: $cards-border-radius;
            border-top: 2px solid white;
            border-right: 2px solid white;
            border-bottom: 2px solid rgb(225, 225, 225);
            border-left: 2px solid rgb(225, 225, 225);
            box-shadow: $button-shadow;
            h2, p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;
                text-align: left;
                padding: 10px 2px;
            }
            .recipe-img-container{
                height: 70%;
                width: 90%;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: $cards-border-radius;
                }
            }
            .recipe-text{
                display:flex;
                flex-direction: column;
                height: 30%;
                width: 90%;
            }
        }
    }

    .left-column{
        align-items: flex-start;
        .recipe{
            min-height: 210px;
            width: calc(100% - 13px);
        }
    }

    .right-column{
        align-items: flex-end;
        padding-top: $page-start-padding;
        .recipe{
            min-height: 280px;
            width: calc(100% - 13px);
        }
    }
}
