@import './variables.scss';

.home-container {
    width: calc(100% - (2 * $main-padding));
    min-height: calc(100% - $navbar-height);
    height: auto;
    padding: $page-start-padding $main-padding;
    @include app-backgroung-image;
    // .home-heading-container {
    //     position: relative;
    //     width: 100%;
    //     z-index: 1;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     padding: 5% 0;
    //     h1 {
    //         color: $text-color;
    //     }
    //     span {
    //         font-family: $h2-font-family;
    //         font-size: $h2-font-size;
    //         color: $text-color;
    //     }
    // }
    h1 {
        font-size: $h1-font-size;
        text-align: left;
        padding-bottom: calc($main-padding - 5px);
        color: $text-color;
    }
    .recipes-container {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        > div {
            cursor: pointer;
        }
        h1{
            padding-left: 0;
        }
        >p{
            text-align: left;
            padding-bottom: calc($main-padding * 2);
        }
        .recipes-list-container {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        .first-recipe {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background-color: $accent-color;
            border-radius: $cards-border-radius;
            padding-bottom: $main-padding;
            h3, span, p {
                padding-left: $main-padding;
            }
            img {
                max-height: $first-img-feed-height;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            h3 {
                font-family: $recipe-card-heading-font-family;
                font-size: $recipe-card-heading-font-size;
                padding-top: $main-padding;
            }
            span {
                font-family: $label-font-family;
                font-size: $label-font-size;
                padding-bottom: $main-padding;
            }
        }
    }
}

