.upload-image-container {
    position: relative;
    background-color: $dark-filter;
    .back-btn {
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate(-5%);
    }
    .button-upload-container {
        position: absolute;
        top: calc(50% + $card-margin-top);
        left: 50%;
        transform: translate(-50%);
    }
    .image-container {
        width: 100%;
        img {
            object-fit: cover;
            width: 100%;
            min-height: $img-container-max-height;
        }
    }
}

