.ingredients-preparation-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    span {
        font-family: $link-font-family;
        font-size: $link-font-size;
    }
    ol {
        list-style-position: outside;
        padding-bottom: $main-padding;
        span {
            font-family: $label-font-family;
            margin-right: $list-padding;
        }
        .bullet {
            width: $bullet-list-size;
            height: $bullet-list-size;
            display: inline-block;
            background-color:black;
            border-radius: 50%;
            vertical-align: middle;
        }
        li {
            line-height: $hometext-lineheight;
        }
    }
}
