@import '../scss/variables.scss';
@import '../scss/global.scss';

.ingredients-preparation-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 18px;
    h2{
        margin-left: -18px;
    }
}