.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: $page-max-width;
    background-color: $white-background;
    .login-container {
        max-width: inherit;
        min-height: $login-container-min-height;
        height: 50%;
        position: relative;
        h1 {
            color: $text-color;
        }
    }
}
.login-img-container{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: $main-padding;
    div{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        img{
            padding-top: $page-start-padding;
            height: $login-container-img-height-width;
            width: $login-container-img-height-width;
            border-radius: $login-img-border-radius;
            object-fit: cover;
        }
        a{
            font-size: $home-anchor-textsize;
        }
    }
}
