nav {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $main-padding;
    background-color: $nav-bar-color;
    h1{
        color: black;
        text-align: left;
        margin: 0;
        position: relative;
        z-index: $navbar-index;
        font-family: $label-font-family;
    }
}

.hamburger {
    width: $hamburger-width;
    height: $hamburger-height;
    border: none;
    background-color: transparent;
    z-index: $navbar-index;
    padding: 0;
    position: relative;
    margin-top: $hamburger-margin-top;
}

.hamburger .line {
    background-color: black;
    width: $hamburger-width;
    height: $hamburger-line-height;
    position: absolute;
    display: block;
    transition: 0.2s ease-in-out;
    border-radius: $hamburger-radius;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger .line-1 {
    top: 0;
}

.hamburger .line-2 {
    top: 8px;
}

.hamburger .line-3 {
    top: 16px;
}

nav > ul {
    text-align: center;
    position: absolute;
    //width: 100vw;
    width: 100%;
    max-width: $page-max-width;
    // right: 0;
    // top: 0;
    bottom: 0;
    margin-bottom: $navbar-height;
    height: calc(100vh - $navbar-height);
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: whitesmoke;
    //transform: translateY(0%);
}

nav > ul li {
    margin-top: $page-start-padding;
}

nav > ul li:last-child {
    padding-bottom: 50px;
}

nav > ul li button {
    font-size: $hamburger-list-item-fontsize;
    display: inline;
    color: black;
    background: none;
    border: none;
    font-family: $text-font-family;
}

nav > ul.transition {
    transition: 0.314s ease-in-out transform;
}

.hamburger.opened .line-1 {
    transform-origin: center left;
    transform: rotate(45deg);
}

.hamburger.opened .line-2 {
    transform: translateX(-7px) rotate(-45deg);
    transform-origin: center right;
    top: 0px;
}

.hamburger.opened .line-3 {
    display: none;
}

nav > ul.transition {
    transform: translateY(calc(100% + $navbar-height));
}
