.label-image-upload {
    display: inline-block;
    background-color: hsl(0, 0, 100, 20%);
    border: 1px solid $on-primary;
    color: $on-primary;
    padding: $button-vertical-padding 10px;
    border-radius: $controls-border-radius;
    box-shadow: $button-shadow;
    text-align: center;
    cursor: pointer;
    span {
        font-family: $button-font-family;
        font-size: $button-font-size;
    }
    .image-upload {
        position: absolute;
        top: -1000px;
    }
}
