.popup-inner-container {
    p {
        margin-bottom: $pop-up-text-margin-bot;
    }
    h1{
        text-align: left;
    }
    span {
        color: $primary;
        font-family: $link-font-family;
        font-size: $link-font-size;
        cursor: pointer;
    }
    .backlink-container {
        margin-top: $backlink-margin-top;
    }
}

