.popup-inner-container {
    .closing-headline-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            all: unset;
            font-family: $button-font-family;
            img{
                height: $icon-width-height;
                width: $icon-width-height;
            }
        }
    }
    > p {
        padding-top: $delete-confirmation-text-padding-top;
        padding-bottom: $delete-confirmation-text-padding-bottom;
        font-size: $popup-text-font-size;
    }
    h1{
        text-align: left;
        margin-bottom: 0;
    }
    span {
        color: $primary;
        font-family: $link-font-family;
        font-size: $link-font-size;
        cursor: pointer;
    }
    .backlink-container {
        margin-top: $backlink-margin-top;
        span{
            padding-left: $arrow-padding;
        }
    }
}

