.recipe-container{
    width: 100%;
    height: 70%;
    position: relative;
    h1 {
        color: $text-color;
    }
    .popup-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: transparent;
        height: auto;
        .popup-inner-container {
            box-shadow: $button-shadow;
            height: inherit;
            p{
                font-size: 18px;
            }
        }
    }
}

.recipe-button-container{
    width:100%;
    padding-bottom: $main-padding;
}
