.edit-buttons-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr repeat(2, auto);
    justify-content: end;
    gap: 20px;

    > button {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        background-color: $primary;
        border: none;
        box-shadow: $button-shadow;
    }
    .edit-button {
        height: 18px;
        width: 18px;
    }
    .recipe-delete {
        background-color: $action;
        line-height: 40px;
    }
}
.feed-buttons-container {
    grid-template-columns: 1fr;
    justify-items: flex-end;
}
