.recipe-headline{
    padding-bottom: $main-padding;
    width: 100%;
    label {
        margin-left: $recipeheadline-margin;
    }
    input {
        resize: none;
        box-sizing: border-box;
        height: auto;
        border: 0;
        min-height: $edit-recipe-input-min-height;
        max-height: $edit-recipe-input-max-height;
        border-radius: $cards-border-radius;
        background-color: $on-primary;
        outline: none;
        padding: $input-padding;
        overflow: hidden;
        font-family: $text-font-family;
        font-size: $text-font-size;
        margin-bottom: 15px;
        border: $border-glass;
    }
    input[type='text'] {
        width: 100%;
    }
    input[type='number'] {
        width: 70px;
    }
    #recipeServings {
        padding: 0px 10px;
        width: 50px;
    }
    p span {
        margin-left: $recipeheadline-margin;
    }
}


