.recipe-description {
    width: 100%;
    height: auto;
    > textarea {
        resize: vertical;
        box-sizing: border-box;
        height: auto;
        min-height: $text-area-min-height;
        max-height: $text-area-max-height;
        width: 100%;
        border-radius: $nav-border-radius;
        background-color: $on-primary;
        box-shadow: $inside-shadow;
        outline: none;
        padding: $main-padding;
        overflow: hidden;
        font-family: $text-font-family;
        font-size: $text-font-size;
        border: 0;
        word-wrap: break-word;
    }
    h2{
        text-align: center;
        padding-bottom: $main-padding;
    }
}
