.edit-buttons-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr repeat(2, auto);
    justify-content: end;
    gap: 20px;

    > button {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        background-color: $primary;
        border: none;
        box-shadow: $button-shadow;
        cursor: pointer;
    }
    .edit-button img {
        height: 18px;
        width: 18px;
    }
    .recipe-delete {
        background-color: $action;
        line-height: 40px;
    }
    .recipe-save {
        background-color: $action;
        img {
            text-align: center;
            vertical-align: middle;
        }
    }
}
.feed-buttons-container {
    grid-template-columns: auto auto;
    justify-items: flex-end;
}
.display-description {
    h2 {
        text-align: left;
    }
    p {
        margin-bottom: 25px;
    }
}
