.input-button-pair{
    display: flex;
    align-items: center;
    button{
        height: 30px;
        width: 30px;
        margin-left: $main-padding;
        transform: translateY(calc($label-spacing / (-2)));
        border-radius: $cards-border-radius;
    }
}

.recipe-input-container {
    width: 100%;
    height: auto;
    label {
        width: 100%;
        position: relative;
        margin-bottom: $label-spacing;
        display: inline-block;
        height: auto;
    }
    textarea {
        resize: vertical;
        box-sizing: border-box;
        height: auto;
        min-height: $edit-recipe-input-min-height;
        max-height: $edit-recipe-input-max-height;
        width: 100%;
        border-radius: $cards-border-radius;
        background-color: $on-primary;
        // -webkit-appearance: none;
        // -webkit-box-shadow: $inside-shadow;
        // box-shadow: $inside-shadow;
        outline: none;
        padding: $input-padding;
        overflow: hidden;
        font-family: $text-font-family;
        font-size: $text-font-size;
        border: 0;
    }
    .delete-button {
        position: absolute;
        top: 50%;
        left: calc(100% - 40px);
        transform: translate(0, -50%);
    }
    .recipe-number {
        position: absolute;
        height: 100%;
        width: $edit-recipe-number-width;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: $list-numbers-font-family;
        font-size: $list-numbers-font-size;
    }
}
