.recipe-container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    h1 {
        color: $text-color;
    }
    .popup-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: transparent;
        height: $popup-container-height;
        .popup-inner-container {
            box-shadow: $button-shadow;
            height: inherit;
        }
    }
}

.recipe-button-container{
    width:100%;
    justify-content: flex-end;
    padding-bottom: $main-padding;
}
