.input-button-pair{
    display: flex;
    align-items: center;
    gap: $label-spacing;
    button{
        height: $delete-button-height;
        width: $delete-button-width;
        border-radius: $cards-border-radius;
    }
    .input-index {
        height: $delete-button-height;
        width: $delete-button-width;
        background-color: $on-primary;
        border-radius: 50%;
        border: $border-glass;
        span {
            width: $delete-button-width;
            font-family: $text-font-family;
            font-size: $text-font-size;
            display: block;
            text-align: center;
            line-height: $delete-button-width;
        }
    }
}

.recipe-input-container {
    width: 100%;
    height: auto;
    label {
        width: 100%;
        position: relative;
        display: inline-block;
        height: auto;
    }
    textarea {
        resize: vertical;
        box-sizing: border-box;
        height: auto;
        min-height: $edit-recipe-input-min-height;
        max-height: $edit-recipe-input-max-height;
        width: 100%;
        border-radius: $cards-border-radius;
        background-color: $on-primary;
        outline: none;
        padding: $input-padding;
        overflow: hidden;
        font-family: $text-font-family;
        font-size: $text-font-size;
        border: 0;
        border: $border-glass;
    }
    .delete-button {
        position: absolute;
        top: 50%;
        left: calc(100% - 40px);
        transform: translate(0, -50%);
    }
    .recipe-number {
        position: absolute;
        height: 100%;
        width: $edit-recipe-number-width;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: $list-numbers-font-family;
        font-size: $list-numbers-font-size;
    }
}
