.img-container{
    width: 100%;
    max-height: $img-container-max-height;
    position: relative;
    z-index: $img-index;
    .back-btn {
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate(-5%);
    }
    > img{
        width: 100%;
        max-height: $img-container-max-height;
        object-fit: cover;
    }
}

