.signup-page {
    width: 100%;
    max-width: $page-max-width;
    min-height: calc(100vh - $navbar-height-plus-padding);
    background-color: white;
    .signup-container {
        max-width: inherit;
        h1 {
            color: $text-color;
        }
    }
}
