.starting-page-container{
    >div {
        padding: 0px 50px 60px 50px;
    }
    h1, h2 {
        color: white;
        text-align: center;
    }
    h2{
        padding-bottom: 40px;
    }
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include app-backgroung-image();
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        line-height: 1.2rem;
        font-family: 'Caviar Dreams', sans-serif;
    }
}
