.starting-page-container{
    >div {
        padding: 0 25px;
    }
    h1, h2 {
        color: $text-color;
        text-align: left;
    }
    h2{
        padding-bottom: 40px;
    }
    min-height: calc(100vh - 114px);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    @include app-backgroung-image();
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        line-height: 1.4rem;
        font-family: 'Caviar Dreams', sans-serif;
        color: $text-color;
        text-align: left;
        font-size: 18px;
    }
}
