.starting-page-container{
    >div {
        padding: 0 $main-padding;
    }
    h1, h2 {
        color: $text-color;
        text-align: left;
    }
    h2{
        padding-bottom: $page-start-padding;
    }
    min-height: calc(100% - $navbar-height);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: $page-start-padding;
    @include app-backgroung-image();
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        line-height: 1.4rem;
        font-family: $starting-page-text-font;
        color: $text-color;
        text-align: left;
        font-size: $starting-page-text-font-size;
    }
}
