.text-input-container {
    align-items: center;
    font-family: $label-font-family;
    font-size: $label-font-size;
    width: 100%;
}
.text-input-container label {
    display: block;
    color: $text-color;
    padding: $login-text-input-label-padding;
}
.text-input {
    padding: $login-text-input-padding;
    border: 0px;
    background-color: white;
    font-family: $input-font-family;
    font-size: $input-font-size;
    outline: 0;
    border-radius: $controls-border-radius;
    // box-shadow: $input-shadow;
    width: calc(100% - 38px);
    border: $border-glass;
}
.text-input::placeholder,
.text-input::-ms-input-placeholder,
.text-input:-ms-input-placeholder  {
    color: $on-light;
}
