@import './fonts.scss';

$h1-font-family: 'Montserrat Bold', sans-serif;
$h1-font-size: 32px;

$h2-font-family: 'Montserrat Bold', sans-serif;
$h2-font-size: 20px;

$button-font-family: 'Montserrat SemiBold', sans-serif;
$button-font-size: 20px;

$input-font-family: 'Caviar Dreams', sans-serif;
$input-font-size: 18px;

$recipe-card-heading-font-family: 'Caviar Dreams Bold', sans-serif;
$recipe-card-heading-font-size: 18px;

$label-font-family: 'Caviar Dreams Bold', sans-serif;
$label-font-size: 14px;

$link-font-family: 'Caviar Dreams', sans-serif;
$link-font-size: 14px;

$text-font-family: 'Caviar Dreams', sans-serif;
$text-font-size: 16px;

$list-numbers-font-family: 'Caviar Dreams Bold', sans-serif;
$list-numbers-font-size: 16px;

$primary: hsl(195, 37, 52, 100%);
$on-primary: hsl(0, 0, 100, 100%);
$dark: hsl(38, 31, 83, 100%);
$medium: hsl(44, 28, 90, 100%);
$light: hsl(43, 62, 96, 100%);
$on-light: hsl(0, 0, 64, 100%);
$light-transparent: hsl(43, 62, 96, 90%);
$text-color: hsl(0, 0, 0, 100%);
$dark-filter: hsl(0, 0, 0, 40%);
$action: hsl(342, 94, 61, 100%);

$button-shadow-color: hsl(0, 0, 0, 25%);
$input-shadow-color: hsl(38, 31, 83, 100%);

$page-max-width: 1024px;
$page-min-width: 390px;

$button-height: 44px;
$button-horizontal-padding: 55px;
$button-vertical-padding: 10px;

$navbar-height: 60px;
$nav-button-height: 44px;
$nav-button-width: 74px;


$nav-border-radius: 33px;
$controls-border-radius: 27px;
$cards-border-radius: 33px;

$input-height: 41px;
$input-output-height: 30px;

$round-button-height: 54px;
$round-button-width: 54px;

$switch-button-width: 60px;
$switch-button-height: 29px;

$button-shadow: 4px 4px 3px $button-shadow-color;
$input-shadow: inset 5px 5px 14px $input-shadow-color;
$inside-shadow: inset 5px 5px 14px $button-shadow-color;
$switch-shadow: 1px 1px 4px $button-shadow-color;
$switch-shadow-inset: inset 0px 4px 4px $button-shadow-color;

$content-container-padding: 47px 48px; /* later we will replace it with percentages */

$border: 1px solid $dark;

$card-container-height: 30vh;
$card-info-padding: 13px 15px 13px 6px;

$recipe-card-paddind: 40px 26px 100px;

$add-button-size: 30px;
$add-button-plus-size: 25px;

$edit-recipe-number-width: 50px;
$edit-recipe-ingredients-indent: 11px;
$edit-recipe-input-min-height: 30px;
$edit-recipe-input-max-height: 100px;
$edit-recipe-input-padding: 10px 55px 10px $edit-recipe-number-width;
