@import './fonts.scss';

$h1-font-family: 'Montserrat Bold', sans-serif;
$h1-font-size: 32px;

$h2-font-family: 'Montserrat Bold', sans-serif;
$h2-font-size: 20px;

$button-font-family: 'Montserrat SemiBold', sans-serif;
$button-font-size: 16px;

$input-font-family: 'Montserrat', sans-serif;
$input-font-size: 18px;

$recipe-card-heading-font-family: 'Montserrat Bold', sans-serif;
$recipe-card-heading-font-size: 18px;

$label-font-family: 'Montserrat Bold', sans-serif;
$label-font-size: 14px;

$link-font-family: 'Montserrat', sans-serif;
$link-font-size: 14px;

$text-font-family: 'Montserrat', sans-serif;
$text-font-size: 16px;

$list-numbers-font-family: 'Montserrat Bold', sans-serif;
$list-numbers-font-size: 16px;

$starting-page-text-font: 'Montserrat', sans-serif;
$starting-page-text-font-size: 18px;


// $primary: hsl(179, 45%, 41%);
$primary: hsl(194, 28, 42%);
$primary-hover: hsl(194, 28, 31%);
$on-primary: hsl(0, 0, 100, 100%);
$dark: hsl(38, 31, 83, 100%);
$on-light: hsl(0, 0, 64, 100%);
$light-transparent: hsl(43, 62, 96, 90%);
$text-color: hsl(0, 0, 0, 100%);
$dark-filter: hsl(0, 0, 0, 40%);
// $action: hsl(342, 94, 61, 100%);
$action: hsl(8, 100, 68, 100%);
$action-hover: hsl(6, 59, 53, 100%);
$light-grey: hsl(0, 0%, 88%);

$accent-color: rgb(247, 235, 217);

@mixin app-backgroung-image {
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
}

$button-shadow-color: hsl(0, 0, 0, 25%);
$input-shadow-color: hsl(38, 31, 83, 100%);

$page-max-width: 1024px;
$page-min-width: 320px;

$button-height: 44px;
$button-horizontal-padding: 30px;
$button-vertical-padding: 12px;

$navbar-height: 35px;

$nav-button-height: 44px;
$nav-button-width: 74px;


$nav-border-radius: 33px;
$controls-border-radius: 27px;
$cards-border-radius: 1rem;
$confirm-btn-radius: 0 1rem 1rem 0;
$cancel-btn-radius: 1rem 0 0 1rem;

$input-height: 41px;
$input-output-height: 30px;

$round-button-height: 54px;
$round-button-width: 54px;

$switch-button-width: 60px;
$switch-button-height: 29px;

$main-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
$button-shadow: 0px 4px 15px $button-shadow-color;
$input-shadow: inset 5px 5px 14px $input-shadow-color;
$inside-shadow: inset 5px 5px 14px $button-shadow-color;
$switch-shadow: 1px 1px 4px $button-shadow-color;
$switch-shadow-inset: inset 0px 4px 4px $button-shadow-color;

$content-container-padding: 47px 48px; /* later we will replace it with percentages */

$border: 1px solid $dark;

$card-container-height: 15vh;
$card-info-padding: 13px 15px 13px 6px;

$recipe-card-paddind: 40px 26px;

$add-button-size: 30px;
$add-button-plus-size: 25px;

$edit-recipe-number-width: 50px;
$edit-recipe-ingredients-indent: 11px;
$edit-recipe-input-min-height: 30px;
$edit-recipe-input-max-height: 100px;
$edit-recipe-input-padding: 10px 55px 10px $edit-recipe-number-width;

$delete-confirmation-text-padding-top: 10px;
$delete-confirmation-text-padding-bottom: 25px;

$add-button-spacing: 10px;
$add-button-radius: 50%;

$back-button-height: 21px;
$back-button-width: 21px;

$button-bot-spacing: 20px;

$card-z-index: 9;
$navbar-index: 11;
$img-index: 9;
$card-margin-top: -40px;

$delete-pop-up-padding: 5%;
$delete-pop-up-width: calc(100% - 10%);

$delete-button-width: 30px;
$delete-button-height: 30px;

$page-start-padding: 40px;

$main-padding: 25px;

$first-img-feed-height: 200px;

$nav-bar-color: $accent-color;

$hamburger-margin-top: 10px;
$hamburger-line-height: 3px;
$hamburger-radius: 1rem;
$hamburger-height: 25px;
$hamburger-width: 25px;
$hamburger-list-item-fontsize: 1.45rem;

$new-image-bg-color: hsl(0, 0, 100, 20%);
$new-image-border: 1px solid $on-primary;

$pop-up-text-margin-bot: 50px;
$backlink-margin-top: 15px;

$recipe-button-height: 40px;
$recipe-button-width: 40px;
$recipe-button-radius: 50%;

$edit-button-height: 22px;
$edit-button-width: 22px;

$recipe-card-info-text-padding: 10px;

$text-area-min-height: 100px;
$text-area-max-height: 300px;

$create-recipe-input-padding: 10px;

$img-container-max-height: 33vh;

$label-spacing: 15px;

$login-text-input-label-padding: 10px 10px 2px 10px;

$login-text-input-padding: 10px 19px;

$visibility-switch-height: 39px;
$visibility-switch-padding: 15px;

$popup-container-height: 30vh;
$input-padding: 10px 20px;

$navbar-height-plus-padding: calc($navbar-height + (2 * $main-padding));

$img-spacer: 5px;
$main-recipe-fontsize: 26px;
$main-recipe-padding: 10px;

$recipe-gallery-padding: 40px $main-padding;

$footer-padding: 15px 0px;
$footer-links-font-size: 10px;

$recipe-gallery-padding: $main-padding;

$arrow-padding: 10px;

$bottom-left-border-glass: 2px solid $light-grey;
$top-right-border-glass: 2px solid white;


$border-glass: 1px solid $light-grey;
$footer-height: 71px;
