.visibility-switch-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: $visibility-switch-height;
    border-radius: $nav-border-radius;
    // box-shadow: $button-shadow;
    background-color: $on-primary;
    span {
        font-family: $text-font-family;
        font-size: $text-font-size;
        margin-left: $visibility-switch-padding;
    }
    div {
        margin-right: $visibility-switch-padding;
    }

    input[type="checkbox"] {
      display: none;

      &:checked + label {
        background-color: $primary;
      }

      &:checked + label:after {
        left: calc($switch-button-height + 2px);
      }
    }

    label {
      transition: all 200ms ease-in-out;
      display: inline-block;
      position: relative;
      height: $switch-button-height;
      width: $switch-button-width;
      border-radius: $nav-border-radius;
      cursor: pointer;
      background-color: $medium;
      // box-shadow: $switch-shadow-inset;
      color: transparent;
      vertical-align: middle;

      &:after {
        transition: all 200ms ease-in-out;
        content: " ";
        position: absolute;
        height: calc($switch-button-height);
        width: calc($switch-button-height);
        border-radius: 50%;
        background-color: $on-primary;
        top: 0px;
        left: -1px;
        right: auto;
        box-shadow: $switch-shadow;
      }
    }
  }

